---
import BusinessModelSimulator from '@/components/react/BusinessModelSimulator';
import ShellLayout from '@/layouts/ShellLayout.astro';
---

<ShellLayout title="Business Model | Digital Asset Studio">
  <section class="section">
    <BusinessModelSimulator client:load />
  </section>
</ShellLayout>
