---
import WorkbenchApp from '@/components/react/WorkbenchApp';
import ShellLayout from '@/layouts/ShellLayout.astro';
---

<ShellLayout title="Idea Framing | Digital Asset Studio">
  <section class="section">
    <WorkbenchApp client:load view="idea" />
  </section>
</ShellLayout>
